
{% extends "base.html" %}
{% block content %}
<div class="chart" id="trafficChart"></div>
<div class="chart" id="protocolChart"></div>
<div class="chart" id="sizeChart"></div>

<script>
let charts = {};

function initCharts() {
    charts.traffic = {
        data: [{
            x: [],
            y: [],
            type: 'scatter',
            name: 'Packet Count'
        }],
        layout: {
            title: 'Network Traffic Over Time',
            height: 400
        }
    };

    charts.protocol = {
        data: [{
            values: [],
            labels: [],
            type: 'pie',
            name: 'Protocols'
        }],
        layout: {
            title: 'Protocol Distribution',
            height: 400
        }
    };

    charts.size = {
        data: [{
            x: [],
            type: 'histogram',
            name: 'Packet Sizes'
        }],
        layout: {
            title: 'Packet Size Distribution',
            height: 400
        }
    };

    Object.entries(charts).forEach(([id, chart]) => {
        Plotly.newPlot(id + 'Chart', chart.data, chart.layout);
    });
}

function updateCharts() {
    $.getJSON('/api/stats')
        .done(function(data) {
            Plotly.update('trafficChart', {
                x: [data.timestamps],
                y: [data.packet_counts]
            });

            Plotly.update('protocolChart', {
                values: [data.protocol_counts.values],
                labels: [data.protocol_counts.labels]
            });

            Plotly.update('sizeChart', {
                x: [data.packet_sizes]
            });
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.error('Failed to fetch stats:', errorThrown);
        });
}

initCharts();
setInterval(updateCharts, 5000);
updateCharts();
</script>
{% endblock %}
